.Survey-pages {
  background-color: #e4e6ff;
  display: flex;
  width: auto;
  height: 60px;
  justify-content: center;
  margin-top: 80px;
}

.link-dashboard {
  list-style: none;
  padding: 19px;
}

.link-dashboard-a {
  /* background-color: #E4E6FF; */
  margin-right: 23px;
  padding: 19px;
  padding-left: 88px;
  padding-right: 100px;
  font-size: 18px;
  color: #1a1a1a;
  line-height: 22px;
  text-decoration: none;
  font-family: "Inter";
}

.link-dashboard-a.active {
  background-color: #ffffff;
}

.link-survey {
  padding: 19px;
  list-style: none;
}
a:hover {
  list-style: none;
  text-decoration: none;
}
.link-survey-a {
  background-color: #e4e6ff;
  margin-left: -47px;
  padding: 19px;
  margin-right: -21px;
  padding-left: 104px;
  padding-right: 120px;
  font-size: 18px;
  color: #1a1a1a;
  line-height: 22px;
  text-decoration: none;
  font-family: "Inter";
}

.link-survey-a.active {
  background-color: #ffffff;
  margin-left: -47px;
  padding: 19px;
  margin-right: -21px;
  padding-left: 104px;
  padding-right: 120px;
  font-size: 18px;
  color: #1a1a1a;
  line-height: 22px;
  text-decoration: none;
  font-family: "Inter";
}

.link-team {
  padding: 19px;
  list-style: none;
}

.link-team-a {
  background-color: #e4e6ff;
  padding: 19px;
  padding-left: 103px;
  padding-right: 105px;
  margin-right: -1px;
  font-size: 18px;
  color: #1a1a1a;
  line-height: 22px;
  text-decoration: none;
  font-family: "Inter";
}

.link-team-a.active {
  background-color: #ffffff;
  padding: 19px;
  padding-left: 103px;
  padding-right: 105px;
  margin-right: -1px;
  font-size: 18px;
  color: #1a1a1a;
  line-height: 22px;
  text-decoration: none;
  font-family: "Inter";
}

.link-setting {
  padding: 19px;
  list-style: none;
}

.link-setting-a {
  background-color: #e4e6ff;
  padding: 19px;
  font-size: 18px;
  color: #1a1a1a;
  line-height: 22px;
  text-decoration: none;
  font-family: "Inter";
  padding-right: 99px;
  padding-left: 95px;
}

.link-setting-a.active {
  background-color: #ffffff;
  padding: 19px;
  font-size: 18px;
  color: #1a1a1a;
  line-height: 22px;
  text-decoration: none;
  font-family: "Inter";
  padding-right: 99px;
  padding-left: 95px;
}

.wrap {
  margin: 20px auto;
}

#nav {
  /* width: 960px; */
  background: #e4e6ff;
  font-weight: 600;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 75px;
}

#nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav ul li,
label[for="toggle"] {
  display: inline-block;
  cursor: pointer;

  color: hsl(0, 0%, 75%);
  padding: 13px 225px 13px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#nav ul li:last-child {
  padding: 13px 25px 13px 25px;
}

#nav ul li:hover,
label[for="toggle"]:hover {
  color: hsl(0, 0%, 90%);
  text-shadow: 0 0 1px #fff;
}

a.link5.active {
  color: hsl(0, 0%, 90%);
  background-color: #878a88;
  box-shadow: inset 0px 10px 20px 2px rgb(0 0 0 / 25%);
}

@media only screen and (min-width: 1025px) {
  input[type="checkbox"]#toggle,
  label[for="toggle"] {
    display: none;
  }
}

@media only screen and (max-width: 679px) {
  #nav {
    width: 80%;
  }
  input[type="checkbox"]#toggle {
    position: absolute;
    z-index: -9999px;
    top: -9999px;
    left: -9999px;
  }
  i.icon-menu-1 {
    margin: 0 10px 0 0;
  }

  label[for="toggle"] {
    width: 90%;
  }
  #menu {
    display: none;
  }
  input[type="checkbox"]#toggle:checked ~ #menu {
    display: block;
  }
  input[type="checkbox"]#toggle:checked ~ #menu li {
    display: block;
  }
}

@media only screen and (min-width: 680px) and (max-width: 702px) {
  #nav {
    width: 80%;
    font-size: 11px;
  }
  input[type="checkbox"]#toggle,
  label[for="toggle"] {
    display: none;
  }
}

@media only screen and (min-width: 703px) and (max-width: 728px) {
  #nav {
    width: 80%;
    font-size: 12px;
  }
  input[type="checkbox"]#toggle,
  label[for="toggle"] {
    display: none;
  }
}

@media only screen and (min-width: 728px) and (max-width: 1024px) {
  #nav {
    width: 80%;
    font-size: 13px;
  }
  input[type="checkbox"]#toggle,
  label[for="toggle"] {
    display: none;
  }
}
